       <main>
          <div class="container">
            <div class="row">
              <div class="aboutus col-lg-8">
                <h1>Welcome to <span class="green">A po don pune</span></h1>
                <div class="img"><img src="~/Bootstrap/img/teamwork.png"></div>
                  <h3><span class="green">Who we are</span></h3>
                <p>A po don punë is  a global leader in connecting people and jobs. Every day, A po don punë aims to make every workplace happier and more productive by transforming the way employers and candidates find the right fit. For 10 years, A po don punë has worked to transform the recruiting industry. Today, the company leverages advanced technology using intelligent digital, social and mobile solutions, including the flagship website A po don punë.com®, A po don punë’s innovative app, and a vast array of products and services.</p>
                  <br>
                    <h3><span class="green">Pledges & Certifications:</span></h3>
                  <ul class="list-in-text">
                        <li>Pay Equality Pledge - Committed to paying equitably for equal work & experience.</li>
                        <li>Career Advancement Program - Helping employees "upskill" into higher-paying positions.</li>
                        <li>Pledge to Thrive - Taking steps to prioritize employee well-being.</li>
                        <li>Diversity Commitment - Has programs that support a diverse and inclusive workforce.</li>
                        <li>First Job Programs- Maintain entry-level hiring and career development programs to give people career starts.</li>
                  </ul>
                    <h3><span class="green">Why Work With Us?</span></h3>
                       <ul class="list-in-text">
                        <li>We Are Transparent</li>

                        <li>We are open and honest. We share information – the good and the bad – so we can continuously learn, collaborate and make the right decisions.</li>

                        <li>We Are Innovative

                    <li>We actively pursue new and different ways to further A po don punë’s mission. We forge our own path by challenging the status quo.</li>

                        <li>We Are Good People

                        <li>We work together with integrity, respect and compassion for one another. We have fun together. We are inclusive, fair and humble while remaining confident. We do the right thing, period.</li>

                            <li>We Have Grit

                        <li>We are resilient, resourceful and scrappy. We see challenges as opportunities. With passion and courage, we come together to get the job done.</li>                
                    </ul>

                  <div class="team text-center mt-5">
                    <h3>A <span class="green">team </span>that’s growing every day</h3>
                        <p>Our executive team is stocked with industry insiders, outsiders, data nerds, and big picture thinkers — and they’re all passionate about connecting humans with jobs.</p>
                    <div class="team-person py-3">
                      <div class="person">
                        <div class="photo"><img src="~/Bootstrap/img/DH.png" alt=""></div>
                        <span class="name">Diellza Hyseni</span>
                        <span>WEB Developer</span>
                      </div>
                      <div class="person">
                        <div class="photo"><img src="~/Bootstrap/img/Medina.png" alt=""></div>
                        <span class="name">Medina Rexhepi</span>
                            <span>WEB Developer</span>
                      </div>
                      
                    </div>
                  </div>
                  
                    </div>
                  </div>
              </div>
            
    </main>
    
